<div class="sub-div sub-div-learn-more">
<h2>Analysis Services</h2>
<hr class="small">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 analysis_graphic" style="top: 10px;">
        <div style="padding-right: 10px; display: inline;">
        <i class="fa fa-area-chart fa-4x" style="position: relative; top: 20px;"></i>
        </div>
        <div style="padding-right: 5px; display: inline; position: relative; top: 10px;">
        <i class="fa fa-arrows-h fa-3x"></i>
        </div>
        <div style="padding-right: 5px; display: inline;">
        <span class="fa-stack fa-3x" class="center-element">
            <i class="fa fa-database fa-stack-2x text-primary"></i>
            <i class="fa fa-gear fa-spin"></i>
        </span>
        </div>
        <div style="padding-right: 5px; display: inline; position: relative; top: 10px;">
        <i class="fa fa-arrows-h fa-3x"></i>
        </div>
        <div style="display: inline">
        <i class="fa fa-pie-chart fa-4x" style="position: relative; top: 20px;"></i>
        </div><br>
        <div style="left: 5px; top: 10px; display: inline; position: relative;">
        <i class="fa fa-arrows-v fa-3x"></i>
        </div><br>
        <div style="left: 5px; top: 15px; display: inline; position: relative;">
        <i class="fa fa-line-chart fa-4x"></i>
        </div>
    </div>
    <div class="col-md-5">
        <div class="center-element">
            <p class="uppercase"><h4 style="text-align: left; padding-bottom: 10px;" class="learn_more_text analysis_text">We do comprehensive data analysis for our customer using data stored in their database or gathered on their apps. To gain a better insight into their business and future operation, data analysis is a must for any business. We help our customer bring their data to life in beautiful static/dynamic web visualizations, so they can gain insight into their data and understand the driving force behind their business easily.</h4></p> 
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
</div>