<div class="sub-div sub-div-learn-more">
<h2>App Services</h2>
<hr class="small">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 learn_more_graphic">
        <div style="padding-right: 10px; display: inline;">
        <i class="fa fa-child fa-5x" style="position: relative; top: 20px;"></i>
        </div>
        <div style="padding-right: 5px; display: inline; position: relative; top: 10px;">
        <i class="fa fa-arrows-h fa-3x"></i>
        </div>
        <div style="padding-right: 5px; display: inline;">
        <span class="fa-stack fa-3x" class="center-element">
            <i class="fa fa-globe fa-stack-2x text-primary"></i>
            <i class="fa fa-spinner fa-spin"></i>
        </span>
        </div>
        <div style="padding-right: 5px; display: inline; position: relative; top: 10px;">
        <i class="fa fa-arrows-h fa-3x"></i>
        </div>
        <div style="display: inline">
        <i class="fa fa-laptop fa-5x" style="position: relative; top: 20px;"></i>
        </div><br>
        <div style="left: -12px; top: 10px; display: inline; position: relative;">
        <i class="fa fa-arrows-v fa-3x"></i>
        </div><br>
        <div style="left: -12px; top: 18px; display: inline; position: relative;">
        <i class="fa fa-bank fa-4x"></i>
        </div>
    </div>
    <div class="col-md-5">
        <div class="center-element" style="top: 10px;">
            <p class="uppercase"><h4 style="text-align: left; padding-bottom: 10px;" class="learn_more_text">Application has become increasingly important for business to succeed in the 21st century. More and more business use web/mobile applications to communicate with their customer or manage their organization. We build data-driven application for our clients to quickly share/oversee information with their employees or customers, so they can synchronize their business as one with the world.</h4></p> 
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
</div>