<div class="sub-div sub-div-learn-more">
<h2>Data Services</h2>
<hr class="small">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 learn_more_graphic">
        <div style="padding-right: 10px; display: inline;">
        <i class="fa fa-mobile fa-5x" style="position: relative; top: 20px;"></i>
        </div>
        <div style="padding-right: 5px; display: inline; position: relative; top: 10px;">
        <i class="fa fa-arrows-h fa-3x"></i>
        </div>
        <div style="padding-right: 5px; display: inline;">
        <span class="fa-stack fa-3x" class="center-element">
            <i class="fa fa-database fa-stack-2x text-primary"></i>
            <i class="fa fa-gear fa-spin"></i>
        </span>
        </div>
        <div style="padding-right: 5px; display: inline; position: relative; top: 10px;">
        <i class="fa fa-arrows-h fa-3x"></i>
        </div>
        <div style="display: inline">
        <i class="fa fa-laptop fa-5x" style="position: relative; top: 20px;"></i>
        </div><br>
        <div style="left: -19px; top: 10px; display: inline; position: relative;">
        <i class="fa fa-arrows-v fa-3x"></i>
        </div><br>
        <div style="left: -20px; top: 15px; display: inline; position: relative;">
        <i class="fa fa-tablet fa-5x"></i>
        </div>
    </div>
    <div class="col-md-5">
        <div class="center-element" style="top: 10px;">
            <p class="uppercase"><h4 style="text-align: left; padding-bottom: 10px;" class="learn_more_text">We have over 5 years of experience building custom database for different businesses/organizations ranging from marketing agency, charity to real estate and telecommunication firms. We organize the data in such a way that our customer can easily and quickly find/analyze the data to help management and decisions. Custom APIs can also be built at customer's request.</h4></p> 
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
</div>