<div class="sub-div">
<h2>Our Services</h2>
<hr class="small">
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="service-item">
            <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-cloud fa-stack-1x text-primary"></i>
        </span>
            <h4>
                <strong>CLOUD</strong>
            </h4>
            <p>Push and manage data and app on the cloud.</p>
            <a data-target="#myCarousel" data-slide-to="1" href="" class="btn btn-light">Learn More</a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="service-item">
            <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-shield fa-stack-1x text-primary"></i>
        </span>
            <h4>
                <strong>DATA</strong>
            </h4>
            <p>Build custom database for different business needs.</p>
            <a data-target="#myCarousel" data-slide-to="2" href="" class="btn btn-light">Learn More</a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="service-item">
            <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-compass fa-stack-1x text-primary"></i>
        </span>
            <h4>
                <strong>APP</strong>
            </h4>
            <p>Build custom apps to meet different business purposes.</p>
            <a data-target="#myCarousel" data-slide-to="3" href="" class="btn btn-light">Learn More</a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="service-item">
            <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-flask fa-stack-1x text-primary"></i>
        </span>
            <h4>
                <strong>ANALYSIS</strong>
            </h4>
            <p>Extract and analyse data from data center and apps.</p>
            <a data-target="#myCarousel" data-slide-to="4" href="" class="btn btn-light">Learn More</a>
        </div>
    </div>
</div>
</div>